<section class="section education">
  <div class="section__title">Education</div>
  <div class="section__content">
    <div class="edus">
      {% for edu in site.data.education %}
      <div class="edu">
        <div class="time-place">
          <div class="edu__school">
            <a href="{{edu.url}}" target="_blank">{{edu.school}}</a>
          </div>
          <div class="edu__time">{{edu.time}}</div>
        </div>
        <div class="edu__degree">{{edu.degree}}</div>
      </div>
      {% endfor %}
    </div>

    <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a>
  </div>
</section>
